.BtnContainer {
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}

button {
  width: 9em;
  height: 4em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 3px 3px 6px #c5c5c5, -3px -3px 6px #d4d4d4;
}

button::before {
  content: '';
  width: 0;
  height: 4em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #75f375 0%, #ee5a5a 100%);
  
  display: block;
  z-index: -1;
}

button:hover::before {
  width: 9em;
}
